.shotMiss{
    vertical-align: middle;
    display: inline-block;
    background-color: #48b300;
    border: #000000 1px solid;
    box-shadow: 0 0 4px 1px #0c0786 inset;
    animation-duration: 3s;
    animation-name: slidein;
}
.noneShot{
    border: #000000 1px solid;
    vertical-align: middle;
    display: inline-block;
    background-color: #0c0786;
}
.ship{
    vertical-align: middle;
    display: inline-block;
    background-color: #5a90ec;
    box-shadow: 0 0 1px 1px #0c0786 inset;

}
.shotToShip{
    display: inline-block;
    vertical-align: middle;
    background-color: #ff0000;
    border: #000000 1px solid;
    box-shadow: 0 0 10px 1px #0c0786 inset;
}
.ship1{
    width: 20px;height: 20px;

}



@keyframes slidein {
    from {
        color: #d5127d;
        border-radius: 10px;
        height: 50%;
        width: 50%;
    }

    to {
        color: #01a121;
        align-self: center;
        height: 150%;
        width: 150%;
    }
    to {
        color: #a1145c;
        align-self: center;
        height: 100%;
        width: 100%;
    }
}
/*
border: #0f5a0f 1px solid;*/
