.shotMiss{
    border: #000000 1px solid;
    vertical-align: middle;
    display: inline-block;
    background-color: #77ff00;
}
.noneShot{
    border: #000000 1px solid;
    vertical-align: middle;
    display: inline-block;
    background-color: #2807e7;
}
.ship{
    vertical-align: middle;
    display: inline-block;
    background-color: #050505;
}
.shotToShip{
    display: inline-block;
    vertical-align: middle;
    background-color: #f50606;
}
.ship1{
    width: 20px;height: 20px;
}

/*
border: #0f5a0f 1px solid;*/
