
.displaySetShip{
    display: grid;
    grid-template-rows: 150px 1fr;
    padding-left: 10px;
}
.displayShip1{
    display: grid;
    grid-template-columns: 20px;
    grid-gap: 2px;
}
.displayShip2{
    display: grid;
    grid-template-columns: 22px 22px;
}
.displayShip3{
    display: grid;
    grid-template-columns: 22px 22px 22px;
}
.displayShip4{
    display: grid;
    grid-template-columns: 22px 22px 22px 22px;
}

.partShip{
    width:15px;
    height: 15px;
    background-color: #06f53a;
    border-radius: 4px;
    border: #2807e7 1px solid ;
}
.active{
    background-color: #01a121;
}
.deActive{
    background-color: #0174d0;
}

.ship1{
    padding-top: 5px;
    display: grid;
    grid-template-columns: 120px 1fr;
}
.ship2{
    padding-top: 5px;
    display: grid;
    grid-template-columns: 120px 1fr;
}
.ship3{
    padding-top: 5px;
    display: grid;
    grid-template-columns: 120px 1fr;
}
.ship4{
    padding-top: 5px;
    display: grid;
    grid-template-columns: 120px 1fr;
}

.ship{
    height: 20px;
}
.number{
    color: #020d87;
    font-weight: bold;
}
.startGameButton {
align-items: center;
}

.startGameButton button{
    background-color: #52a3ff;
    box-shadow: 0 0 8px 8px #025f8d inset;
    height: 80px;
    width: 120px;
    color: #020d87;
    font-weight:bold;
    animation: pulsing 6s infinite;

}
.startGameButton button:hover {
/*    height: 82px;
    width: 122px;*/
    align-items: center;
    font-size: 18px;
}


@keyframes pulsing {
    0% {
        /*transform: scale(0.95, 0.95);*/
        background-color: #52a3ff;

    }
    50% {
        /*transform: scale(1.01, 1.01);*/
        background-color: #01a121;
    }
    100% {
        /*transform: scale(0.95, 0.95);*/
        background-color: #52a3ff;
    }
}