.displayMapBattle {
    display: grid;
    grid-template-rows: 360px 360px 100px;
    grid-gap: 20px;
}

.displayHistory {
    display: grid;
    grid-template-columns: repeat(4, 180px);
}

.historyButton {
    height: 60px;
    width: 150px;
    font-weight: bold;
    background-color: #01a121;
    color: black;
    font-size: 18px;
    border-radius: 5px;

}

