.displayDesk{
  display: grid;
  grid-template-columns: 420px 350px
}
.displayUser{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 230px 1fr;
}
.displaySetShip{
  display: grid;
  grid-template-rows: 60px 1fr;
}
.displayShipButton{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.active{
  background-color: #06f53a;
}
.deActive{
  background-color: #282c34;
}