.displayDesk{
  display: grid;
  grid-template-columns: 450px 350px;
}
.displayDeskLoss{
  display: grid;
  grid-template-columns: 450px 350px;
  background-color: #b13d54;
  box-shadow: 0 0 8px 8px #84caf6 inset;
}
.displayDeskWinn{
  display: grid;
  grid-template-columns: 450px 350px;
  background-color: #b3f1c1;
  box-shadow: 0 0 8px 8px #84caf6 inset;
}

.displayDesk1{
  padding-left: 20px;
  padding-top: 20px;


}
.displayDesk2{
  padding: 20px;
}
.displayUser{
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows:260px 1fr;
}
.displaySetShip{
  display: grid;
  grid-template-rows: 60px 1fr;
}
.displayShipButton{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.active{
  background-color: #06f53a;
}
.deActive{
  background-color: #282c34;
}
.deleteShipButtonActive{
  background-color: #a1145c;
  color: #010b52;
  font-weight:bold;
}

.deleteShipButtonDizActive{
  background-color: #1b5a00;
  color: #010b52;
  font-weight:bold;
}
.endGameLose{
  text-align: center;
  background-color: #ff0000;
  font-weight:bold;
  color: black;
  box-shadow: 0 0 10px 10px #5e0d0d inset;
  border-radius: 5px;

}
.endGameWin{
  background-color: #02f635;
  text-align: center;
  font-weight:bold;
  color: gold;
  box-shadow: 0 0 8px 8px #046d06 inset;
  border-radius: 5px;
}
.header{
  font-size: 20px;
  color: #020d87;
  font-weight:bold;
  padding-left: 95px;
}

.buttonHeader{
  padding-top: 20px;
}

.button1{
  padding-top: 10px;
}

.button1 button{
  background-color: #b3f1c1;
  box-shadow: 0 0 8px 8px #6093af inset;
  height: 50px;
  width: 120px;
  color: #020d87;
  font-weight:bold;
  border-radius: 5px;
}

.button1 button:focus{
  box-shadow: 0 0 8px 8px #2f4a93 inset;
}
.toggleLook{
  background-color: #b3f1c1;
  box-shadow: 0 0 8px 8px #6093af inset;
  color: #020d87;
  font-weight:bold;
}
.userImg{
  height: 35px;
  width: 35px;
}