.formControl input,
.formControl textarea{
    border: solid #14551b 4px;
    width: 200px;
    height: 30px;
    font: 18px/1.5 Helvetica, Arial, sans-serif;

}

.formControl.error input,
.formControl.error textarea{
    border: solid red 4px;
}
.formControl.error span{
    color: #0000ff;
}
.formSummaryError{
    border: solid red 1px;
    padding: 8px;
    color: #d5127d;
}