.preloader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-ms-keyframes spin {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    100% {
        -o-transform: rotate(360deg);
    }
}

.spinner {
    width: 100px;
    height: 100px;
    border: 15px solid #0ce8b5;
    border-left-color: rgb(213, 10, 10);
    border-right-color: transparent;
    border-bottom-color: rgb(17, 46, 187);
    border-radius: 100%;
    animation: spin 1000ms infinite linear;

    -moz-animation: spin 1000ms infinite linear;
    -o-animation: spin 1000ms infinite linear;
    -webkit-animation: spin 1000ms infinite linear;
    -ms-animation: spin 1000ms infinite linear;
}
