.displayMapBattle {
    display: grid;
    grid-template-rows: 360px;
    grid-gap: 20px;
}

.displayHistory {
    display: grid;
    grid-template-columns: repeat(4, 180px);
}

.historyButton {
    height: 30px;
    width: auto;
    font-weight: bold;
    background-color: #01a121;
    color: black;
    font-size: 18px;
    border-radius: 5px;

}
.historyButton1 {
    height: 30px;
    width: auto;
    font-weight: bold;
    background-color: #025315;
    color: black;

    font-size: 18px;
    border-radius: 5px;

}
