
.imgPhoto {
    height: 100%;
    border-radius: 5px;
}
/*.imgPhoto:hover {
  box-shadow: 0px 0px 10px 4px #73a4e2;

}*/
.inputPhoto {
    visibility: hidden;
    height: 0;
    width: 0;
}
.downloadImg {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 10%;
    opacity:0;
    transition:  opacity 2s;
}
.downloadImg1{
    position: absolute;
    top: 5%;
    right: 5%;
    height: 10%;
    opacity:1;
    transition: opacity 2s;

}
.downloadImg:hover{
    opacity:1;
    transform: scale(1.2);
}
