.img {
    border-radius: 5px;
    height: 95%;
    width: 95%;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
    pointer-events: none;
}
.imgBonus {
    position: relative;
    bottom: 50px;
    border-radius: 5px;
    height: 95%;
    width: 95%;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;
    pointer-events: none;
}
.isBum {
    border-radius: 5px;
   /* background-color: #10ac05;*/
    height: 95%;
    width: 95%;
}
.score{
    position: relative;
    bottom: 50px;
}

