.active {
    border-radius: 5px;
    border: solid 1px black;
}
.img {
    border-radius: 5px;
    height: 97%;
    width: 97%;
}

.isBum {
    border-radius: 5px;
    background-color: #10ac05;
    height: 97%;
    width: 97%;
}
