.active {
    display: grid;
    grid-template-rows: 0px 0px 0px 0px 0px;
    border-radius: 5px;
    border: solid 1px black;
}
.noActive{
    display: grid;
    grid-template-rows: 0px 0px;
}
.img {
    border-radius: 5px;
    height: 97%;
    width: 97%;
}

.isBum {
    border-radius: 5px;
    background-color: #10ac05;
    height: 97%;
    width: 97%;
}
