
.displayMap{
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 10px;
    justify-content:center;
}
.mainDisplay{
    display: grid;
    grid-template-rows: auto auto auto ;
    justify-items: center;
    align-content: center;
}




