.displayWindow{
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 400px;

}

.window1{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 5fr 1fr;
    border: solid 4px red;
    background-color: #2807e7;
    padding: 10px;
}
.window2{
    border: solid 4px #25bf1a;
    background-color: #345080;
}
.window3{
    border: solid 4px #7c8743;
    background-color: #756ab6;
}
.displayGame{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.displayGame div{
    border: solid 4px #b47e7e;
    background-color: #534b7f;
}
