.shotMiss{
    vertical-align: middle;

    background-color: #0c0786;
    border: #000000 1px solid;
    box-shadow: 0 0 4px 1px #0c0786 inset;
}
.noneShot{
    border: #000000 1px solid;
    vertical-align: middle;
    background-color: #0c0786;
}
.ship{
    vertical-align: middle;
    background-color: #5a90ec;
    box-shadow: 0 0 1px 1px #0c0786 inset;

}
.shotToShip{
    vertical-align: middle;
    background-color: #ff0000;
    border: #000000 1px solid;
    box-shadow: 0 0 10px 1px #0c0786 inset;
}
.ship1{
    width: 18px;height: 18px;
}

.fire{
    width: 18px; height: 18px;
    animation-duration: 1s;
    align-items:center;
    animation: pulsing 0.5s ;
    animation-iteration-count: 1;
    opacity:10;
}




@keyframes pulsing {
    0% {
        transform: scale(0.5, 0.5)
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}



/*
border: #0f5a0f 1px solid;*/
