.headerAuthUser {
    display: grid;
    grid-template-columns: 1fr 1fr 80px;
    align-items: center;
}
.headerAuthUser div{
    align-self: center;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 80px;
    align-items: center;
}
.header div{
    align-self: center;
}
