.displayNavBar{
    display: grid;
    grid-template-rows: min-content;
    grid-gap: 20px;
    padding-left: 10px;
}

.item a{
    font:bold  18px Arial ;
    text-decoration:none;
    color: white;
    cursor: pointer;

}
.item a.active{
    color: gold;
    cursor: pointer;
}

