.displayBattleList {
    display: grid;
    grid-template-columns: 2fr 10fr;

}

.displayList {
    display: grid;
    grid-template-rows: min-content;
    align-content: start;
    grid-gap: 10px;

}

.displayBattle {

}

.gameLink {
    border: solid 2px #338443;
    background-color: #7266bf;
}

.gameLink div {
    border: solid 2px #cc43ef;
}

.gameLinkActive {
    border: solid 2px #042a0c;
    background-color: #443887;
}
.userTurn{
    border: solid 2px #09ec37;
}
