.displayApp{
  width: 100%;
  height: 2400px;
  display: grid;
  grid-template-areas:
  "h h"
  "n p";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 130px 1fr;
  margin: auto ;
}

.displayHeader{
  grid-area: h;
  background-color: #2d79ea;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px #053986 solid;
}
.displayNavBar{
  border-right: 2px #053986 solid;
  background-color: #0e3e93;
}
.displayPlace{
  padding-left: 15px;
  padding-top: 10px;
  background-color: #84caf6;
  box-shadow:  #0e3e93 0px 0px 5px 1px inset  ;
}
















.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
