.displayFormik{
    display: block;
    grid-gap: 5px;
}


.displayFormik input,
.displayFormik textarea{
    border-radius: 4px;
    border: solid #81bb88 3px;
    width: 200px;
    height: 20px;
    font: 12px/1.5 Helvetica, Arial, sans-serif;
}

.displayFormik input:hover  ,
.displayFormik textarea:hover  {

    border: solid #2d6a41 3px;
}
.error{

    font: 12px/1.5 Helvetica, Arial, sans-serif;
    color: #761313;
}



.displayFormik.error input,
.displayFormik.error textarea{
    border: solid red 4px;
}
.displayFormik.error span{
    color: #0000ff;
}


